.header__menu {
	display: none;
}

.intro {
	background-image: url("images/background/list_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 367px;
	z-index: 0;
}

.intro::before {
	content:"";
	background-image: linear-gradient(to top, #1c1c1c, #1c1c1c);
	width: 100%;
	height: 51px;
	display: block;
	position: absolute;
	z-index: 1;
	top: 29px;
}

.intro__title {
	font-family: GildaDisplay;
	font-size: 52px;
	font-weight: normal;
	line-height: 1.29;
	letter-spacing: -0.5px;
	text-align: center;
	color: #ffffff;
	padding-top: 170px;
    margin-left: -9px;
  }

.search {
	height: 932px;
	display: flex;
	padding-left: 280px;
	padding-top: 9px;
    box-sizing: border-box;
} 

.search__container {
	width: 99%;
	height: 312px;
	background-color: #151515;
	text-align: center;
}

.search__subtitle {
	font-size: 15px;
	font-weight: normal;
	line-height: 1.37;
	letter-spacing: 0.6px;
	color: #ffffff;
	padding-top: 37px;
    margin-left: 4px;
}

.container__check {
	display: flex;
	list-style: none;
	margin-top: 45px;
	margin-bottom: -30px;
    justify-content: space-between;
}

.search__check {
	width: 110px;
	height: 92px;
	font-size: 9px;
	font-weight: normal;
	line-height: 2.28;
	letter-spacing: 0.72px;
	color: #ffffff;
	margin: 0px 11px 0px -6px;
}

.check__title {
	margin-left: -20px;
}

.container__input {
	display: flex;
}

.search__input {
	background-color: #151515;
	margin-left: 15px;
    margin-right: 17px;
}

input::placeholder {
  color: #c19b76;
}

.search__mouns {
	color: #c19b76;
	background-color: #151515;
 	margin-left: -18px;
}

.search__guests {
    margin: 0 auto;
}

.search__line {
	width: 99%;
	height: 2px;
	color: #f9f9f9;
	border: solid 0.8px #f1f1f1;
	margin-top: 20px;
}

.servises__title {
	font-family: GildaDisplay;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.37;
	letter-spacing: 0.9px;
	color: #1c1c1c;
	margin-top: 16px;
}

.servises__title_room {
	margin-top: 21px;
}

.search__checkbox {
	width: 10px;
	height: 10px;
	border-radius: 1.1px;
	border: solid 0.4px #b3b3b3;
	background-color: #ffffff;
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin-top: 1px;
    margin-left: -3px;
}

.search__checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0px 0 0 18px;
}

.search__checkbox + label:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 1.1px;
	border: solid 0.4px #b3b3b3;
	margin-left: -21px;
	box-shadow: inset 0 2px 3px #1c1c1c;
}


.search__checkbox + label:after {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	background-color: #ffffff;
	border: solid 0.4px #b3b3b3;
	top: -4px;
    left: 18px;
    margin-left: -20px;
    box-shadow: inset 0 1px 3px #1c1c1c;
}

.search__checkbox:checked + label:before {
	background-color: #ffffff;
	border: solid 0.4px #b3b3b3;
}

.search__checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px #1c1c1c;
}

.search__servises {
	list-style: none;
	font-size: 10.5px;
	font-weight: normal;
	line-height: 1.95;
	letter-spacing: 0.63px;
	color: #878787;
	column-count: 2;
	width: 278px;
	margin-left: -35px;
}

.search__roomsize {
	display: flex;
	list-style: none;
	margin-left: -38px;
}

.search__size {
	width: 48px;
	height: 24px;
	background-color: #1c1c1c;
    font-size: 9.5px;
    font-weight: normal;
    line-height: 2.16;
    letter-spacing: -0.19px;
    color: #ffffff;
    margin-right: 15px;
    padding-left: 4px;
    padding-top: 2px;
}

.search__m {
	font-size: 9px;
	font-weight: normal;
	line-height: 2.28;
	letter-spacing: normal;
	color: #878787;
	text-transform: uppercase;
}

.servises__title_reviews {
	margin-top: 28px;
}

.search__reviews {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 82%;
	margin-top: 11px;
    margin-left: -38px;
}

.search__rating {
	width: 30px;
	height: 25px;
	background-color: #1c1c1c;
	font-size: 9.5px;
	font-weight: normal;
	line-height: 2.16;
	letter-spacing: -0.19px;
	text-align: center;
	color: #ffffff;
	margin-top: 5px;
	transition: background-color 2s;
}

.search__rating:hover {
	background-color:  #c19b76;
	cursor: pointer;
}

.list {
	display: none;
}
.container__images {
	display: flex;
	width: 97%;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 20px;
}

.search__container_image {
	width: 48%;
	height: 387px;
	border: solid 0.8px #f1f1f1;
	margin-right: 17px;
}

.search__image {
	width: 278px;
	height: 186px;
	position: relative;
	z-index: 0;
}


.search__suitename {
	position: relative;
	z-index: 1;
	right: -20px;
    top: -45px;
}

.search__subtitle_image {
	margin: -18px 0px 0px 18px;
}


.search__description {
	margin-top: -1px;
    margin-left: 13px;
}

.search__text {
	width: 204px;
	font-size: 10.5px;
	font-weight: normal;
	line-height: 1.95;
	letter-spacing: -0.3px;
	color: #878787;
	margin: 5px 0px 0px 20px;
    word-spacing: 3px;
}


.search__button {
	width: 62%;
	height: 35px;
	border: solid 1.5px #c19b76;
	background-color: transparent;
	font-size: 8.5px;
	font-weight: 900;
	line-height: 2.41;
	letter-spacing: 0.85px;
	color: #c9a787;
	text-align: center;
	margin-top: 16px;
    margin-left: 20px;
    transition: background-color 2s, color 2s;
}

.search__button:hover{
	cursor: pointer;
	background-color: #c9a787;
	color: #ffffff;
}

.search__button:focus{
	outline: none;
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {

	.intro {
		height: 260px;
		margin-bottom: 7px;
	}

	.intro__title {
		font-size: 32px;
 		line-height: 1.48;
 		letter-spacing: -0.8px;
    	margin-left: 8px;
    	margin-top: -8px;
	}

	.search {
    	height: 745px;
    	margin-left: 232px;
	}

	.search__container {
		width: 209px;
    	height: 223px;
    	margin-left: -311px;
	}

	.search__subtitle {
		font-size: 11px;
		line-height: 1.32;
		letter-spacing: 0.44px;
		padding-top: 24px;
    	padding-left: -67px;
    	padding-right: 18px;
	}

	.container__action {
		margin-top: -18px;
    	margin-right: 10px;
	}

	.container__check {
		 margin-bottom: -34px;
	}

	.search__check {
		width: 78px;
		height: 65px;
	}

	.check__title {
		font-size: 9px;
		line-height: 1.61;
		letter-spacing: 0.72px;
	}

	.search__input {
		width: 28px;
		height: 19px;
		font-size: 27px;
		line-height: 0.54;
		letter-spacing: -1.62px;
	}

	.formContainer__inputs_input {
		border-style: none;
		margin-top: 6px;
    	margin-left: 1px;
	}
    
	.search__mouns {
		width: 17px;
		height: 8px;
  		font-size: 9px;
		line-height: 1.61;
		letter-spacing: -0.54px;
	}

	.search__guests {
    	margin: -2px;
	}

	.search__line {
		width: 199px;
		height: 2px;
		margin-left: -304px;
  	}

  	.servises__title {
  		font-size: 11px;
		line-height: 1.32;
		letter-spacing: 0.66px;
		margin-left: -311px;
    	margin-top: -9px;
  	}

  	.search__checkbox {
  		width: 8px;
		height: 7px;
  	}

  	.search__servises {
  		font-size: 9px;
	  	line-height: 1.9;
		letter-spacing: 0.54px;
		margin-left: -346px;
		width: 209px;
  	}

  	.servises__title_room {
  		margin-top: 7px;
    	margin-bottom: -8px;
  	}

  	.servises__title_reviews{
  		margin-top: -6px;
  	}

  	.search__size {
  		width: 30px;
		height: 17px;
		font-size: 8px;
  		line-height: 1.81;
		letter-spacing: -0.16px;
		margin-top: 2px;
  	}

  	.search__roomsize {
        margin-left: -352px;
	}

  	.search__m {
  		font-size: 6.5px;
  		line-height: 2.23;
		letter-spacing: normal;
  	}

  	.search__rating {
  		width: 21px;
		height: 18px;
    	font-size: 8px;
  		line-height: 1.81;
		letter-spacing: -0.16px;
  	}

  	.search__reviews {
       	margin-top: 3px;
    	margin-left: -350px;
    	width: 164px;
	}

	.list {
	display: none;
	}

	.container__list_images {
		margin-top: -5px;
	}

	.container__images {
		margin-left: -91px;
	}

  	.search__container_image {
  		width: 198px;
		height: 275px;
  	}

  	.search__image {
  		width: 198px;
		height: 132px;
  	}

  	.search__suitename {
  		font-size: 9px;
  		line-height: 1.61;
		letter-spacing: 0.9px;
		right: -17px;
    	top: -38px;
  	}

  	.search__subtitle_image {
  		font-size: 16px;
  		line-height: 0.72;
		letter-spacing: normal;
		margin-top: -30px;
    	margin-left: 16px;
  	}

  	.search__description {
    	margin-top: 1px;
	}

  	.search__text {
  		font-size: 8px;
		line-height: 2.25;
		width: 154px;
		margin-bottom: -2px;
    	margin-top: 0px;
  	}

  	.search__button {
  		width: 165px;
		height: 34px;
		border: solid 1.1px #c19b76;
  		font-size: 9px;
		font-weight: 900;
		line-height: 1.61;
		letter-spacing: 0.9px;
		margin-top: 12px;
    	margin-left: 17px;
    	padding-left: 25px;
    	padding-right: 25px;
  	}

  	.container__images_1024 {
  		margin-top: 45px;
  	}

  	}

@media screen and (max-width: 1023px) {
	.header__menu {
		display: block;
	}

	.intro {
		height: 292px;
	}

	.intro__title {
		font-size: 48px;
		line-height: 0.63;
		letter-spacing: -0.6px;
		margin-top: 16px;
    	margin-left: -11px;
	}

	.search {
		height: 1450px;
    	display: block;
    	width: 640px;
    	padding-left: 0px;
   }

   .container__list {
   	 	margin-top: -12px;
    	margin-left: 58px;
   }

	.search__container {
		width: 522px;
    	height: 238px;
	}

	.search__subtitle {
		font-size: 22px;
		line-height: 0.41;
		letter-spacing: 1px;
		padding-top: 18px;
    	margin-left: 4px;
	}

	.container__action {
		margin-top: -21px;
	}

	.container__action_1 {
		margin-left: 61px;
		margin-bottom: 51px;
	}

	.container__check {
		justify-content: center;
	}

	.search__check {
		width: 150px;
   		height: 80px;
		font-size: 14px;
    	line-height: 0.64;
		letter-spacing: 1.12px;
	}

	.container__input {
    	display: flex;
    	flex-direction: column;
	}

	.list .formContainer__inputs_input{
		width: 40px;
    	height: 30px;
    	font-size: 36px;
		line-height: 0.25;
		letter-spacing: -2.16px;
	}

	.search__input {
		margin-left: 5px;
    	margin-top: 9px;
	}

	.check__title_in {
		margin-left: -92px;
	}

	.check__title_1 {
		margin-left: -58px;
	}

	.search__guests {
		height: 137px;
		width: 164px;
	}

	.search__mouns {
		font-size: 20px;
		line-height: 0.45;
		letter-spacing: -1.2px;
		width: 81px;
	}

	.search__line {
		display: none;
	}

	.servises__title {
		font-size: 22px;
		line-height: 0.41;
		letter-spacing: 2px;
    	margin-top: 37px;
    	margin-bottom: 25px;
    	text-align: center;
    	padding-left: -62px;
        margin-right: 62px;
	}

	.servises__title_room {
		margin-top: 32px;
	}

	.search__checkbox {
    	width: 14px;
    	height: 14px;
	}

	.search__servises {
		font-size: 16px;
		line-height: 2.1;
		letter-spacing: 0.96px;
		width: 540px;
    	margin-left: 0px;
	}

	.search__roomsize {
		margin-left: 116px;
    	margin-top: -11px;
	    box-sizing: border-box;
    	padding-top: 6px;
    	padding-left: 41px;
	}
   
	.search__size {
		width: 69px;
    	height: 30px;
		font-size: 14px;
		line-height: 0.64;
		letter-spacing: -0.28px;
		margin-right: 34px;
		box-sizing: border-box;
    	padding-top: 12px;
    	padding-left: 7px;
	}

	.search__m {
		display: none;
	}

	.servises__title_reviews {
		margin-top: 50px;
    	margin-bottom: 0px;
    	margin-left: 4px;
	}

	.search__reviews {
		margin-left: 10px;
    	margin-top: 14px;
    	width: 421px;
	}

	.search__rating {
		width: 49px;
		height: 24px;
		font-size: 14px;
		line-height: 0.64;
		letter-spacing: -0.28px;
		box-sizing: border-box;
    	padding-top: 7px;
	}

	.list {
		display: block;
		font-family: GildaDisplay;
		font-size: 22px;
		line-height: 0.41;
		letter-spacing: 1.32px;
		text-align: center;
    	margin-top: 31px;
    	margin-left: -3px;
    	margin-bottom: -41px;
	}

	.container__images {
    	display: block;
    	margin-bottom: -9px;
	}

	.container__list_images {
		margin-top: 58px;
    	margin-left: 36px;
	}

	.search__container_image {
		width: 520px;
		height: 167px;
		display: flex;
		margin-bottom: 20px;
	}

	.search__container_1 {
		display: flex;
    	flex-direction: row-reverse;
	}

	.search__image {
		width: 198px;
		height: 133px;
		margin-top: 17px;
    	margin-left: 12px;
	}

	.search__suitename {
		font-size: 14px;
		line-height: 0.64;
		letter-spacing: 1.7px;
		right: -25px;
    	top: -47px;
	}

	.search__suitename_gallery{
		top: 109px;
    	left: -184px;
    	white-space: nowrap;
	}

	.search__suitename_atelier {
		left: 43px;
    	top: 105px;
	}

	.search__suitename_grand {
		top: 106px;
    	left: 149px;
    	white-space: nowrap;
	}

    .suite__subtitle{
    	display: block;
    }

	.search__subtitle_image{
		font-size: 22px;
		line-height: 0.32;
	    letter-spacing: 1px;
    	margin-top: 23px;
    	margin-left: 22px;
	}

	.search__subtitle_atelier {
		margin-left: 50px;
    	margin-top: 18px;
	}

	.search__subtitle_gallery {
		margin-left: -50px;
	}

	.search__image_gallery {
		margin-left: -46px;
    	margin-right: 35px;
	}

	.search__subtitle_grand {
		margin-left: 26px;
	}

	.search__description {
		display: none;
	}

	.search__text {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 1.1px;
		width: 258px;
		height: 61px;
		margin-top: 18px;
	}

	.search__text_gallery {
		margin-left: -49px;
    	letter-spacing: 1.5px;
	}

	.search__text_grand {
		margin-right: 27px;
	}

	.search__button {
		width: 144px;
		height: 25px;
		margin-left: 25px;
	}

	.search__button_gallery {
		margin-left: -49px;
	}

	.container__grand {
		margin-right: -138px;
	}
}







    